<form method="post" action="/new">
  <div>
    <label for="text">Text </label>
    <input type="text" name="text" id="text" />
  </div>
  <div>
    <label for="user">Username </label>
    <input type="text" name="user" id="user" />
  </div>
  <button type="submit">Submit</button>
</form>
