<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('./partials/errors.ejs') %>

    <form action="/user/search" method='get'>
      <input type="text" name="q" id="q">
      <button type="submit">Search</button>
    </form>
    <div>
      <% if (locals.users) {%> <% users.forEach(user => { %>
        
        <%- include('./partials/user.ejs', {user: user}) %>

      <% }); %> <% } %>
    <div/>
    <a href="/user/create">Create a user</a>
    <br>
    <a href="/">Back</a>
  </body>
</html>
